@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;

  /* Centro contenido*/
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  .container {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    height: 575px;

    & img {
      width: 350px;
      height: auto;
      margin: 1rem;
      border-radius: 25px;
    }

    & h2 {
      color: hsl(218, 44%, 22%);
      padding-left: 3rem;
      padding-right: 3rem;
      font-weight: 700;
    }

    & p {
      color: hsl(220, 15%, 55%);
      font-size: 15px;
      padding-left: 4.5rem;
      padding-right: 4.5rem;
      margin-top: 2rem;
    }
  }
}
