/*

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700

> 💎 [Upgrade to Pro](https://www.frontendmentor.io/pro?ref=style-guide) for design file access to see all design details and get hands-on experience using a professional workflow with tools like Figma.


*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;

  /* Centro contenido*/
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  main {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    height: 575px;

    img {
      width: 350px;
      height: auto;
      margin: 1rem;
      border-radius: 25px;
    }

    h2 {
      color: hsl(218, 44%, 22%);
      padding-left: 3rem;
      padding-right: 3rem;
      font-weight: 700;
    }

    p {
      color: hsl(220, 15%, 55%);
      font-size: 15px;
      padding-left: 4.5rem;
      padding-right: 4.5rem;
      margin-top: 2rem;
    }
  }
}
